.left-rectangle {
    width: 18.75rem;
    height: 8.125rem;
    background: linear-gradient(165deg, #3f3f3f 0%, #383838 15%, #080808 50%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-left: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.25rem;
}
.middle-rectangle {
    width: 18.75rem;
    height: 8.125rem;
    background: linear-gradient(180deg, #3f3f3f 0%, #2b2b2b 18%, #080808 40%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.25rem;
}
.right-rectangle {
    width: 18.75rem;
    height: 8.125rem;
    background: linear-gradient(190deg, #3f3f3f 0%, #383838 15%, #080808 50%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-right: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.25rem;
}
.rectangle-align{
    display: flex;
    gap: 1.25rem;
    justify-content: center;
}