.bio-page h1 {
    font-size: 2.125rem;
    margin-bottom: 1.5625rem;
}

.bio-box {
    background: linear-gradient(180deg, #3f3f3f 0%, #2b2b2b 18%, #080808 40%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.375rem;
    margin-bottom: 1.375rem;
}

.bio-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

.experience-box {
    background: linear-gradient(165deg, #3f3f3f 0%, #383838 15%, #080808 50%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-left: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.25rem;
    margin-bottom: 1.125rem;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-title h3 {
    margin: 0;
}

.job-title span {
    color: #f2bd67;
    font-style: italic;
}

.experience-box h4, .education-box h4 {
    margin-top: 0.5rem;
    color: #f2bd67;
    padding-bottom: 1rem;
}

.experience-box ul {
    margin-bottom: 0;
}

.experience-box li {
    text-align: left;
    margin-bottom: 0.375rem;
}

.education-box {
    background: linear-gradient(165deg, #3f3f3f 0%, #383838 15%, #080808 50%);
    border-top: 0.125rem solid rgb(217, 217, 217);
    border-left: 0.125rem solid rgb(217, 217, 217);
    border-radius: 0.9375rem;
    padding: 1.375rem;
    margin-bottom: 1.375rem;
}

.education-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-title h3 {
    margin: 0;
}


.education-title span {
    color: #f2bd67;
    font-style: italic;
}

.education-box p {
    margin-top: 0.375rem;
    margin-bottom: 1.125rem;
    color: white;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.75rem;
    background-color: #f2bd67;
    color: #222;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button:hover {
    background-color: #e8ae4f;
    transform: translateY(-0.1875rem);
    opacity: 0.6;
}

.button:active {
    transform: translateY(0);
    box-shadow: none;
}

@media (max-width: 768px) {

    main, .bio-page {
        width: 94%;
        max-width: none;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        box-sizing: border-box;
    }

    .bio-box,
    .experience-box,
    .education-box {
        width: 100%;
        max-width: none;
        box-sizing: border-box;
    }

    .job-title,.education-title {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }
}